.list-item {
  border-bottom: 1px solid #e7e7e7;
  border-bottom: 1px solid $white-four;
  margin-top: 20px;
  padding-bottom: 16px;

  &:nth-of-type(20n) {
    border-bottom-color: transparent;

  }

  .item-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 24px;
    margin-bottom: 10px;
    overflow: hidden;

    .author-avatar {
      margin-right: 12px;
    }

    .author {
      color: $charcoal-grey;
      flex-shrink: 0;
      font-weight: 700;

      margin-right: 10px;

      .author-reputation {
        color: $steel-grey;
        font-weight: 500;

        &::before {
          content: '(';
        }

        &::after {
          content: ')';
        }
      }
    }

    .category {
      background-color: darken($silver, 10);
      border-radius: 25px;
      color: $white;
      flex-shrink: 0;
      font-size: 12px;
      margin-right: 12px;
      padding: 2px 8px;
      transition: 0.5s;
    }

    .read-mark {
      background-color: $dark-sky-blue;
      border-radius: 50%;
      flex-shrink: 0;
      height: 4px;
      margin-right: 12px;
      width: 4px;
    }

    .date {
      color: $steel-grey;
      flex-shrink: 0;
    }
  }

  .item-body {
    @include clearfix();

    .item-image {
      align-items: center;
      background: #f1f1f1;
      border-radius: 4px;
      display: flex;
      height: 180px;
      justify-content: center;
      margin-bottom: 10px;
      overflow: hidden;
      width: 100%;

      img {
        height: auto;
        max-width: 100%;
      }
    }

    .item-summary {

      .item-title,
      .item-body {
        display: block;
        font-size: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
        text-decoration: none;
        transition: 0.6s;
      }

      .item-title {
        font-weight: 700;
        margin-bottom: 9px;
      }

      .item-body {
        margin-bottom: 13px;
      }
    }

    .item-controls {
      align-items: center;
      display: flex;

      .post-total {
        color: $steel-grey;
        margin-right: 14px;

        &.payout-declined {
          color: lighten($steel-grey, 15);
          text-decoration: line-through;
        }
      }

      .voters,
      .comments {
        align-items: center;
        color: $steel-grey;
        display: flex;
        font-size: 14px;
        margin-right: 14px;

        .mi {
          margin-right: 5px;
          opacity: 0.5;
        }
      }

      .app {
        color: $silver;
        flex-grow: 1;
        text-align: right;
      }
    }

  }

  @media (min-width: $screen-md-min) {
    padding-right: 38px;
    .item-body {
      .item-image {
        float: left;
        width: 130px;
        margin-right: 17px;
        margin-bottom: 0;
        height: 77px;
      }

      .item-summary {
        float: right;
        width: calc(100% - 147px);
      }

      .item-controls {
        float: right;
        width: calc(100% - 147px);

        .post-total, .voters, .comments {
          margin-right: 25px;

        }
      }
    }
  }

  &.comment-item {
    @media (min-width: $screen-md-min) {
      .item-body {
        .item-image {
          width: 48px;
          height: 48px;
          background: $white-three;
          img {
            width: 30px;
          }
        }

        .item-summary {
          width: calc(100% - 65px);
          .item-title {
            display: none;
          }

          .item-body {
            margin-bottom: 10px;
          }
        }

        .item-controls {
          width: calc(100% - 65px);
        }
      }
    }
  }
}