
[FLASK]
DEVELOPMENT = False
DEBUG = False

[ESEARCH_API]
URL = https://api.hivesearcher.com/search
TOKEN = atokenhere
REQUEST_TIMEOUT = 2
CACHE_TIMEOUT = 5


[REDIS]
HOST = localhost
PORT = 6379
PASS =