.search-page {
  height: 100%;
  width: 98%;
  max-width: 900px;
  margin: 0 auto;

  .search-page-content {
    padding-top: 20px;

    .header {
      align-items: center;
      display: flex;
      margin: 0 auto 30px auto;
      width: 100%;

      .logo {
        align-items: center;
        background-color: $white;
        border: 3px solid $white-three;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-right: 6px;
        padding: 3px;

        img {
          height: 32px;
          width: 32px;
        }

        @media (min-width: $screen-md-min) {
          margin-right: 16px;

        }
      }

      .brand {
        color: $steel-grey;
        display: none;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 700;

        margin-right: 6px;

        span {
          color: $peacock-blue;
        }

        @media (min-width: $screen-md-min) {
          display: block;
          margin-right: 16px;
        }
      }

      .search-area {
        flex-grow: 1;
        margin-right: 6px;

        @media (min-width: $screen-md-min) {
          margin-right: 12px;
        }
      }

      .submit {
        flex-shrink: 0;

        .label {
          display: none;
        }

        @media (min-width: $screen-md-min) {
          .mi {
            display: none;
          }

          .label {
            display: inline-block;
          }
        }
      }
    }
  }
}