.search-page {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  width: 98%;

  .search-page-content {
    padding-top: 20px;

    .header {
      align-items: center;
      display: flex;
      margin: 0 auto 20px auto;
      width: 100%;

      .logo {
        align-items: center;
        background-color: $white;
        border: 3px solid $white-three;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-right: 6px;
        padding: 3px;

        img {
          height: 32px;
          width: 32px;
        }

        @media (min-width: $screen-md-min) {
          margin-right: 16px;

        }
      }

      .brand {
        color: $steel-grey;
        display: none;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 400;
        margin-right: 6px;

        span {
          color: $peacock-blue;
          font-weight: 700;
        }

        @media (min-width: $screen-md-min) {
          display: block;
          margin-right: 16px;
        }
      }

      .search-area {
        flex-grow: 1;
        margin-right: 6px;

        @media (min-width: $screen-md-min) {
          margin-right: 12px;
        }
      }

      .submit {
        flex-shrink: 0;

        .mi {
          font-size: 18px;
        }

        .label {
          display: none;
        }

        @media (min-width: $screen-md-min) {
          .mi {
            display: none;
          }

          .label {
            display: inline-block;
          }
        }
      }

      @media (min-width: $screen-md-min) {
        margin-bottom: 40px;
      }
    }

    .no-results {
      color: $steel-grey;
      font-size: 18px;
      text-align: center;
    }

    .result-details {
      color: $steel-grey;
      margin-bottom: 30px;
      text-align: center;

      @media (min-width: $screen-md-min) {
        display: none;
      }
    }

    .search-tool-box {
      border-bottom: 1px solid $white-four;
      display: flex;
      height: 30px;
      margin-bottom: 20px;

      .sort-opt {
        color: $steel-grey;
        display: inline-block;
        flex-grow: 1;
        font-size: 16px;
        height: calc(100% + 1px);
        text-align: center;

        &.selected, &:hover {
          border-bottom: 2px solid $dark-sky-blue;
          color: $dark-sky-blue;
          font-weight: 500;
        }

        @media (min-width: $screen-md-min) {
          flex-grow: 0;
          margin-right: 22px;
          padding: 0 20px 0 20px;
        }
      }

      .result-details {
        color: $steel-grey;
        display: none;
        flex-grow: 1;
        text-align: right;

        @media (min-width: $screen-md-min) {
          display: inline-block;
        }
      }

      &.loading {
        border-bottom: 0;
        height: 29px;
        margin-bottom: 0;

        .sort-opt {
          &.selected, &:hover {
            border-bottom-color: transparent;
          }
        }
      }
    }

    .entry-list {
      padding: 0 10px 0 10px;

      .page-num {
        margin: 0;
        opacity: 0.5;
        position: relative;

        .num {
          align-items: center;
          background: $dark-sky-blue;
          border-radius: 50%;
          color: $white;
          display: flex;
          font-size: 20px;
          font-weight: 500;
          height: 50px;
          justify-content: center;
          margin: auto;
          position: relative;
          width: 50px;
          z-index: 2;
        }

        .line {
          background: $dark-sky-blue;
          display: block;
          height: 1px;
          left: 0;
          position: absolute;
          top: calc(50% - 1px);
          width: 100%;
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 10px 0;

  .item {
    align-items: center;
    background: $dark-sky-blue;
    border-radius: 25px;
    color: $white;
    display: flex;
    height: 26px;
    justify-content: center;
    margin: 0 2px;
    width: 26px;

    @media (min-width: $screen-md-min) {
      height: 30px;
      width: 30px;
          margin: 0 4px;
    }

    &.active {
      background: $white-four;
      color: $steel-grey;
      pointer-events: none;
    }
  }
}