.search-page {
  height: 100%;
  margin: 0 auto;
  max-width: 900px;
  width: 98%;

  .search-page-content {
    padding-top: 20px;

    .header {
      align-items: center;
      display: flex;
      margin: 0 auto 30px auto;
      width: 100%;

      .logo {
        align-items: center;
        background-color: $white;
        border: 3px solid $white-three;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-right: 6px;
        padding: 3px;

        img {
          height: 32px;
          width: 32px;
        }

        @media (min-width: $screen-md-min) {
          margin-right: 16px;

        }
      }

      .brand {
        color: $steel-grey;
        display: none;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 400;
        margin-right: 6px;

        span {
          color: $peacock-blue;
          font-weight: 700;
        }

        @media (min-width: $screen-md-min) {
          display: block;
          margin-right: 16px;
        }
      }

      .search-area {
        flex-grow: 1;
        margin-right: 6px;

        @media (min-width: $screen-md-min) {
          margin-right: 12px;
        }
      }

      .submit {
        flex-shrink: 0;

        .label {
          display: none;
        }

        @media (min-width: $screen-md-min) {
          .mi {
            display: none;
          }

          .label {
            display: inline-block;
          }
        }
      }
    }

    .no-results {
      color: $steel-grey;
      font-size: 18px;
      text-align: center;
    }

    .result-info {
      color: $steel-grey;
      margin-bottom: 12px;
      text-align: right;
    }

    .sort-box {
      border-bottom: 1px solid $white-four;
      border-top: 1px solid $white-four;
      margin-bottom: 20px;
      padding: 10px 6px;

      .sort-opt {
        border-radius: 25px;
        color: $silver;
        flex-shrink: 0;

        margin-right: 12px;
        padding: 2px 8px;
        transition: 0.5s;

        &.selected, &:hover {
          background-color: $dark-sky-blue;
          color: $white;
        }
      }
    }
  }
}