.search-page-iframe {
  width: 98%;
  margin: 0 auto;

  .search-page-content {
    padding-top: 20px;

    .header {
      align-items: center;
      display: flex;
      margin: 0 auto 20px auto;
      width: 100%;

      .search-area {
        flex-grow: 1;
        margin-right: 6px;

        @media (min-width: $screen-md-min) {
          margin-right: 12px;
        }
      }

      .submit {
        flex-shrink: 0;

        .mi {
          font-size: 18px;
        }

        .label {
          display: none;
        }

        @media (min-width: $screen-md-min) {
          .mi {
            display: none;
          }

          .label {
            display: inline-block;
          }
        }
      }

      @media (min-width: $screen-md-min) {
        margin-bottom: 40px;
      }
    }

    .no-results {
      color: $steel-grey;
      font-size: 18px;
      text-align: center;
    }

    .result-details {
      color: $steel-grey;
      margin-bottom: 30px;
      text-align: center;

      @media (min-width: $screen-md-min) {
        display: none;
      }
    }

    .search-tool-box {
      border-bottom: 1px solid $white-four;
      display: flex;
      height: 30px;
      margin-bottom: 20px;

      .sort-opt {
        color: $steel-grey;
        display: inline-block;
        flex-grow: 1;
        font-size: 16px;
        height: calc(100% + 1px);
        text-align: center;
        cursor: pointer;

        &.selected, &:hover {
          border-bottom: 2px solid $dark-sky-blue;
          color: $dark-sky-blue;
          font-weight: 500;
        }

        @media (min-width: $screen-md-min) {
          flex-grow: 0;
          margin-right: 22px;
          padding: 0 20px 0 20px;
        }
      }

      .result-details {
        color: $steel-grey;
        display: none;
        flex-grow: 1;
        text-align: right;

        @media (min-width: $screen-md-min) {
          display: inline-block;
        }
      }

      &.loading {
        border-bottom: 0;
        height: 28px;
        margin-bottom: 0;

        .sort-opt {
          &.selected, &:hover {
            border-bottom-color: transparent;
          }
        }
      }
    }

    .entry-list {
      padding: 0 10px 0 10px;
    }
  }

  .powered-by {
    font-weight: 400;
    font-size: 14px;
    width: 240px;
    text-align: center;
    margin: 20px auto 0 auto;
    cursor: pointer;
    display: block;
    text-decoration: none;

    .brand {
      color: $steel-grey;

      span {
        font-weight: 700;
        color: $peacock-blue;
      }
    }
  }
}