.author-avatar {
  border-radius: 50%;
  background: #ccc;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 24px;
  width: 24px;
}
