$dark-sky-blue: #357ce6;
$white: #fff;
$white-two: #fcfcfc;
$white-three: #f5f5f5;
$white-four: #e7e7e7;
$steel-grey: #788187;
$peacock-blue: #00519c;
$charcoal-grey: #3c4449;
$silver: #c1c5c7;

$screen-md-min: 768px;

@mixin clearfix() {
  &:before,
  &:after {
    content: ' '; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}