@import "variables";

html {
  /* Smooth font */
  font-size: 100%;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $white-two;
  color: $charcoal-grey;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

a {
  color: $charcoal-grey;

  &:hover {
    color: $dark-sky-blue;
  }
}

.search-area {
  align-items: center;
  background-color: $white-three;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  padding-right: 10px;

  .add-on {
    align-items: center;
    color: $steel-grey;
    display: flex;
    flex-shrink: 0;
    font-size: 20px;
    justify-content: center;
    width: 40px;
    user-select: none;
  }

  input[type=text] {
    background: transparent;
    border: 0;
    color: $steel-grey;
    flex-grow: 1;
    font-weight: 700;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      font-style: italic;
      font-weight: 400;
      opacity: 0.3;
      font-size: 13px;
      @media (min-width: $screen-md-min) {
        font-size: 14px;
      }
    }
  }
}

#root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
}

@import "../components/linear-progress/style";
@import "../components/icon/style";
@import "../components/author-avatar/style";
@import "../components/list-item/style";

@import "../containers/home/style";
@import "../containers/search/style";