@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html {
  /* Smooth font */
  font-size: 100%;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

body {
  background: #fcfcfc;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #3c4449; }

a {
  color: #3c4449; }
  a:hover {
    color: #357ce6; }

.search-area {
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  padding-right: 10px; }
  .search-area .add-on {
    align-items: center;
    color: #788187;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 40px;
    user-select: none; }
  .search-area input[type=text] {
    background: transparent;
    border: 0;
    color: #788187;
    flex-grow: 1; }
    .search-area input[type=text]:focus {
      outline: 0; }
    .search-area input[type=text]::placeholder {
      font-style: italic; }

#root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; }

#wrapper {
  height: 100%;
  width: 100%; }

.linear-progress {
  height: 1px;
  position: relative;
  overflow: hidden;
  animation: start 0.3s ease-in;
  background: #f5f5f5; }
  .linear-progress .bar {
    position: absolute;
    transition: transform 0.2s linear;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: #357ce6; }
  .linear-progress .bar1 {
    animation: grow-bar1 2.5s infinite, move-bar1 2.5s infinite; }
  .linear-progress .bar2 {
    animation: grow-bar2 2.5s infinite, move-bar2 2.5s infinite; }

@keyframes grow-bar1 {
  0% {
    animation-timing-function: linear;
    transform: scaleX(0.1); }
  36.6% {
    animation-timing-function: cubic-bezier(0.33473, 0.12482, 0.78584, 1);
    transform: scaleX(0.1); }
  69.15% {
    animation-timing-function: cubic-bezier(0.22573, 0, 0.23365, 1.37098);
    transform: scaleX(0.83); }
  100% {
    transform: scaleX(0.1); } }
@keyframes move-bar1 {
  0% {
    left: -105.16667%;
    animation-timing-function: linear; }
  20% {
    left: -105.16667%;
    animation-timing-function: cubic-bezier(0.5, 0, 0.70173, 0.49582); }
  69.15% {
    left: 21.5%;
    animation-timing-function: cubic-bezier(0.30244, 0.38135, 0.55, 0.95635); }
  100% {
    left: 95.44444%; } }
@keyframes grow-bar2 {
  0% {
    animation-timing-function: cubic-bezier(0.20503, 0.05705, 0.57661, 0.45397);
    transform: scaleX(0.1); }
  19.15% {
    animation-timing-function: cubic-bezier(0.15231, 0.19643, 0.64837, 1.00432);
    transform: scaleX(0.57); }
  44.15% {
    animation-timing-function: cubic-bezier(0.25776, -0.00316, 0.21176, 1.38179);
    transform: scaleX(0.91); }
  100% {
    transform: scaleX(0.1); } }
@keyframes move-bar2 {
  0% {
    left: -54.88889%;
    animation-timing-function: cubic-bezier(0.15, 0, 0.51506, 0.40968); }
  25% {
    left: -17.25%;
    animation-timing-function: cubic-bezier(0.31033, 0.28406, 0.8, 0.73372); }
  48.35% {
    left: 29.5%;
    animation-timing-function: cubic-bezier(0.4, 0.62703, 0.6, 0.90203); }
  100% {
    left: 117.38889%; } }
@keyframes start {
  from {
    max-height: 0;
    opacity: 0; }
  to {
    max-height: 20px;
    opacity: 1; } }
.mi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.author-avatar {
  border-radius: 50%;
  background: #ccc;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  height: 24px;
  width: 24px; }

.list-item {
  border-bottom: 1px solid #e7e7e7;
  margin-top: 20px;
  padding-bottom: 16px;
  padding-right: 38px;
  border-bottom: 1px solid #e7e7e7; }
  .list-item:last-of-type {
    border-bottom-color: transparent; }
  .list-item .item-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 24px;
    margin-bottom: 10px;
    overflow: hidden; }
    .list-item .item-header .author-avatar {
      margin-right: 12px; }
    .list-item .item-header .author {
      flex-shrink: 0;
      font-weight: 700;
      margin-right: 10px;
      color: #3c4449; }
      .list-item .item-header .author .author-reputation {
        color: #788187;
        font-weight: 500; }
        .list-item .item-header .author .author-reputation::before {
          content: '('; }
        .list-item .item-header .author .author-reputation::after {
          content: ')'; }
    .list-item .item-header .category {
      border-radius: 25px;
      flex-shrink: 0;
      font-size: 12px;
      margin-right: 12px;
      padding: 2px 8px;
      transition: 0.5s;
      background-color: #c1c5c7;
      color: #fff; }
      .list-item .item-header .category:hover {
        background-color: #a6acaf; }
    .list-item .item-header .read-mark {
      background-color: #357ce6;
      border-radius: 50%;
      flex-shrink: 0;
      height: 4px;
      margin-right: 12px;
      width: 4px; }
    .list-item .item-header .date {
      color: #788187;
      flex-shrink: 0; }
  .list-item .item-body:before, .list-item .item-body:after {
    content: ' ';
    display: table; }
  .list-item .item-body:after {
    clear: both; }
  .list-item .item-body .item-image {
    align-items: center;
    border-radius: 4px;
    display: flex;
    float: left;
    height: 77px;
    justify-content: center;
    margin-right: 17px;
    overflow: hidden;
    width: 130px; }
    .list-item .item-body .item-image img {
      border-radius: 4px;
      height: auto;
      max-width: 100%; }
  .list-item .item-body .item-summary {
    float: right;
    width: calc(100% - 147px); }
    .list-item .item-body .item-summary .item-title,
    .list-item .item-body .item-summary .item-body {
      display: block;
      font-size: 16px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%; }
    .list-item .item-body .item-summary .item-title {
      font-weight: 700;
      margin-bottom: 9px; }
    .list-item .item-body .item-summary .item-body {
      margin-bottom: 13px; }
  .list-item .item-body .item-controls {
    align-items: center;
    display: flex;
    float: right;
    width: calc(100% - 147px); }
    .list-item .item-body .item-controls .post-total {
      color: #788187;
      margin-right: 25px; }
      .list-item .item-body .item-controls .post-total.payout-declined {
        color: #a1a7ab;
        text-decoration: line-through; }
    .list-item .item-body .item-controls .voters,
    .list-item .item-body .item-controls .comments {
      align-items: center;
      color: #788187;
      display: flex;
      font-size: 14px;
      margin-right: 25px; }
      .list-item .item-body .item-controls .voters .mi,
      .list-item .item-body .item-controls .comments .mi {
        margin-right: 5px;
        opacity: 0.5; }
    .list-item .item-body .item-controls .app {
      flex-grow: 1;
      text-align: right;
      color: #c1c5c7; }

.home-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%; }
  .home-page .index-page-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 516px;
    width: 90%; }
    .home-page .index-page-content .logo {
      align-items: center;
      background-color: #fff;
      border: 3px solid #f5f5f5;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 12px;
      padding: 7px; }
      .home-page .index-page-content .logo img {
        height: 54px;
        width: 54px; }
    .home-page .index-page-content .brand {
      color: #788187;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 48px; }
      .home-page .index-page-content .brand span {
        color: #00519c; }
    .home-page .index-page-content .search-area {
      margin-bottom: 32px;
      width: 100%; }
    .home-page .index-page-content .form-submit {
      margin-bottom: 90px; }
    .home-page .index-page-content .indexed-count {
      color: #788187;
      font-size: 18px;
      font-weight: 500;
      visibility: hidden; }
      .home-page .index-page-content .indexed-count span {
        color: #00519c; }
      .home-page .index-page-content .indexed-count.visible {
        visibility: visible; }
      .home-page .index-page-content .indexed-count.changed span {
        animation-name: antFadeIn;
        animation-duration: 0.5s;
        animation-iteration-count: 1; }

.search-page {
  height: 100%;
  width: 98%;
  max-width: 900px;
  margin: 0 auto; }
  .search-page .search-page-content {
    padding-top: 20px; }
    .search-page .search-page-content .header {
      align-items: center;
      display: flex;
      margin: 0 auto 30px auto;
      width: 100%; }
      .search-page .search-page-content .header .logo {
        align-items: center;
        background-color: #fff;
        border: 3px solid #f5f5f5;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-right: 6px;
        padding: 3px; }
        .search-page .search-page-content .header .logo img {
          height: 32px;
          width: 32px; }
        @media (min-width: 768px) {
          .search-page .search-page-content .header .logo {
            margin-right: 16px; } }
      .search-page .search-page-content .header .brand {
        color: #788187;
        display: none;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 700;
        margin-right: 6px; }
        .search-page .search-page-content .header .brand span {
          color: #00519c; }
        @media (min-width: 768px) {
          .search-page .search-page-content .header .brand {
            display: block;
            margin-right: 16px; } }
      .search-page .search-page-content .header .search-area {
        flex-grow: 1;
        margin-right: 6px; }
        @media (min-width: 768px) {
          .search-page .search-page-content .header .search-area {
            margin-right: 12px; } }
      .search-page .search-page-content .header .submit {
        flex-shrink: 0; }
        .search-page .search-page-content .header .submit .label {
          display: none; }
        @media (min-width: 768px) {
          .search-page .search-page-content .header .submit .mi {
            display: none; }
          .search-page .search-page-content .header .submit .label {
            display: inline-block; } }
    .search-page .search-page-content .no-results {
      text-align: center;
      font-size: 18px;
      color: #788187; }

/*# sourceMappingURL=style.css.map */
