@import "variables";
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');
@import "mi";

html {
  /* Smooth font */
  font-size: 100%;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $white-two;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@import "../components/LinearProgress";

.search-area {
  align-items: center;
  background-color: $white-three;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  padding-right: 10px;

  .add-on {
    align-items: center;
    color: $steel-grey;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 40px;
  }

  input[type=text] {
    background: transparent;
    border: 0;
    color: $steel-grey;
    flex-grow: 1;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      font-style: italic;
    }
  }
}

#root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
}

.index-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .index-page-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 516px;
    width: 90%;

    .logo {
      align-items: center;
      background-color: $white;
      border: 3px solid $white-three;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 12px;
      padding: 7px;

      img {
        height: 54px;
        width: 54px;
      }
    }

    .brand {
      color: $steel-grey;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 48px;

      span {
        color: $peacock-blue;
      }
    }

    .search-area {
      margin-bottom: 32px;
      width: 100%;
    }
  }
}

.search-page {
  height: 100%;
  width: 98%;
  max-width: 900px;
  margin: 0 auto;

  .search-page-content {
    padding-top: 20px;

    .header {
      align-items: center;
      display: flex;
      margin: 0 auto 30px auto;
      width: 100%;

      .logo {
        align-items: center;
        background-color: $white;
        border: 3px solid $white-three;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-right: 6px;
        padding: 3px;

        img {
          height: 32px;
          width: 32px;
        }

        @media (min-width: $screen-md-min) {
          margin-right: 16px;

        }
      }

      .brand {
        color: $steel-grey;
        display: none;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 700;

        margin-right: 6px;

        span {
          color: $peacock-blue;
        }

        @media (min-width: $screen-md-min) {
          display: block;
          margin-right: 16px;
        }
      }

      .search-area {
        flex-grow: 1;
        margin-right: 6px;

        @media (min-width: $screen-md-min) {
          margin-right: 12px;
        }
      }

      .submit {
        flex-shrink: 0;

        .label {
          display: none;
        }

        @media (min-width: $screen-md-min) {
          .mi {
            display: none;
          }

          .label {
            display: inline-block;
          }
        }
      }
    }
  }
}