$dark-sky-blue: #357ce6;
$white: #fff;
$white-two: #fcfcfc;
$white-three: #f5f5f5;
$steel-grey: #788187;
$peacock-blue: #00519c;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin-ext');

@import "mi";

html {
  /* Smooth font */
  font-size: 100%;
  text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
  -webkit-text-size-adjust: 100%;
  font-variant-ligatures: none;
  -webkit-font-variant-ligatures: none;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
}

body {
  background: $white-two;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.search-area {
  align-items: center;
  background-color: $white-three;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  height: 44px;
  padding-right: 10px;

  .add-on {
    align-items: center;
    color: $steel-grey;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    width: 40px;
  }

  input[type=text] {
    background: transparent;
    border: 0;
    color: $steel-grey;
    flex-grow: 1;

    &:focus {
      outline: 0;
    }

    &::placeholder {
      font-style: italic;
    }
  }
}

#root {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#wrapper {
  height: 100%;
  width: 100%;
}

.index-page {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;

  .index-page-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 516px;
    width: 90%;

    .logo {

      align-items: center;
      background-color: $white;
      border: 3px solid $white-three;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      margin-bottom: 12px;
      padding: 7px;

      img {
        height: 54px;
        width: 54px;
      }
    }

    .brand {
      color: $steel-grey;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 48px;

      span {
        color: $peacock-blue;
      }
    }

    .search-area {
      margin-bottom: 32px;
      width: 100%;
    }
  }
}

.search-page {
  .search-page-content {
    .header {
      align-items: center;
      display: flex;
      height: 30px;
      margin: 20px auto 0 auto;
      width: 80%;

      .logo {
        align-items: center;
        background-color: $white;
        border: 3px solid $white-three;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        margin-right: 16px;
        padding: 3px;

        img {
          height: 26px;
          width: 26px;
        }
      }

      .brand {
        color: $steel-grey;
        flex-shrink: 0;
        font-size: 18px;
        font-weight: 700;
        margin-right: 16px;

        span {
          color: $peacock-blue;
        }
      }

      .search-area {
        flex-grow: 1;
        margin-right: 12px;
      }

      .submit {
        flex-shrink: 0;
        margin-right: 16px;
      }
    }
  }
}